<ion-view view-title="Reminders" ng-controller="RemindersCtrl">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="navToNewReminder()">
            +
        </button>

    </ion-nav-buttons>
    <ion-content>

        <ion-list>
            <ion-item ng-repeat="reminder in reminders">
                <h2>{{reminder.text}}</h2>
                <p>id: {{reminder.id}}</p>
                <p>staring at: {{reminder.at}}</p>
                <p>frequency: {{reminder.every}}</p>
                <button class="button" ng-click="cancelNotification(reminder)">
                    Delete
                </button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
