<ion-view view-title="Reminders">
  <ion-content ng-controller="RemindersCtrl">

      <ion-list>
        <ion-item ng-repeat="reminder in reminders">
          <h2>{{reminder.text}}</h2>
          <p>id: {{reminder.id}}</p>
          <p>staring at: {{reminder.at}}</p>
          <p>frequency: {{reminder.every}}</p>
          <button class="button" ng-click="cancelNotification(reminder)">
            Delete
          </button>
        </ion-item>
      </ion-list>

      <button class="button" ng-click="navToNewReminder()">
        Add a Reminder
      </button>

  </ion-content>
</ion-view>
