<ion-view class="view" view-title="Welcome">
  <ion-content class="content">

    <div class="row">
      <div class="col">
        <center>
          <h1 class="main-title">Upward Leap</h1>
        </center>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>"For me, prayer is an upward leap of the heart, an untroubled glance towards heaven, a cry of gratitude and love which I utter from the depths of sorrow as well as from the heights of joy." </p>
        <p> - St. Therese of Liseaux</p>
      </div>
    </div>


  </ion-content>
</ion-view>
